
<ons-page>    
<div>
    <img src="otaru_logo.png" width="100%">
</div>
    
<div>
<ons-scroller>
<ons-list>
<ons-list-item class="item">
<HR>
<img src="homepage.png"style="position:absolute;left:160px;top:93px;">
    <ons-row>
        <ons-col width="80px">
            <img src="ekiben_light.png" class="item-thum">
        </ons-col>
        <ons-col>
            <span class="item-title">海の輝き</span>
            <p class="item-desc">海の幸をお腹いっぱい食べられる豪華お弁当です！ 価格:1580円</p>
            <br>
            <div style="text-align: center">
            <ons-button  modifier="quiet" onclick="window.open('http://tachiuri.com/ekiben.html','_system')"><font size="2">　　　　　　　　　</font></ons-button></div>
        </ons-col>
    </ons-row>
</ons-list-item>
<ons-list-item class="item">
<HR>
<img src="homepage.png"style="position:absolute;left:160px;top:93px;">
    <ons-row>
        <ons-col width="80px">
            <img src="ekiben_ikura.png" class="item-thum">
        </ons-col>
        <ons-col>
            <span class="item-title">いくら弁当</span>
            <p class="item-desc">お弁当に敷き詰められたいくらが最大の魅力です！！　価格:1350円</p>
            <br>
            <div style="text-align: center">
            <ons-button modifier="quiet" onclick="window.open('http://tachiuri.com/ekiben.html','_system')"><font size="2">　　　　　　　　　</font></ons-button></div>
        </ons-col>
    </ons-row>
</ons-list-item>
<ons-list-item class="item">
<HR>
<img src="homepage.png"style="position:absolute;left:160px;top:93px;">
    <ons-row>
        <ons-col width="80px">
            <img src="otaru_beer.png" class="item-thum">
        </ons-col>
        <ons-col>
            <span class="item-title">小樽ビール</span>
            <p class="item-desc">小樽で作られている本場ドイツスタイルのビール。独特の甘さとローストされた香りがたまりません。</p>
            <br>
            <div style="text-align: center">
                 <ons-button modifier="quiet" onclick="window.open('http://otarubeer.com/jp/%E3%83%93%E3%83%BC%E3%83%AB%E3%83%A9%E3%82%A4%E3%83%B3%E3%82%A2%E3%83%83%E3%83%97%EF%BC%88%E3%83%AC%E3%82%AE%E3%83%A5%E3%83%A9%E3%83%BC%E3%83%93%E3%83%BC%E3%83%AB','_system')"><font size="2">　　　　　　　　　</font></ons-button></div>
        </ons-col>
    </ons-row>
<HR>
</ons-list-item>
</ons-list>
</ons-scroller>
<ons-button ng-click="myNavigator.pushPage('success.html')">テスト</ons-button>
<ons-button ng-click="myNavigator.pushPage('miss.html')">失敗</ons-button>
</div>
</ons-page>