
<ons-page>    
<ons-toolbar>
    <div class="center">おぬぬめ</div>
</ons-toolbar>


<div>
    <font size="7">小樽駅</font>
    <font size="6">の</font><br>
</div>

<div align="right">
    <font size="6">おすすめ　　</font>
</div>
    
<div>
<ons-scroller>
<HR>
    <ons-row>
        <font size="4">海の輝き</font>
    </ons-row>
    <ons-row>
        <ons-col>
            <img src="ekiben_light.png" width="60%" height="60%">
        </ons-col>
        <ons-col>
            <font size="1">海の幸をお腹いっぱい食べられる豪華お弁当です！ 価格:1580円</font><br>
            <div align="center">
                 <ons-button modifier="large" onclick="window.open('http://tachiuri.com/ekiben.html','_system')"><font size="2">公式サイト</font></ons-button>
            </div>
        </ons-col>
    </ons-row>
<HR>
    <ons-row>
        <font size="4">いくら弁当</font>
    </ons-row>
    <ons-row>
        <ons-col>
            <img src="ekiben_ikura.png" width="60%" height="60%">
        </ons-col>
        <ons-col>
            <font size="1">お弁当に敷き詰められたいくらが最大の魅力です！！　価格:1350円</font><br>
            <div align="center">
                 <ons-button modifier="large" onclick="window.open('http://tachiuri.com/ekiben.html','_system')"><font size="2">公式サイト</font></ons-button>
            </div>
        </ons-col>
    </ons-row>
<HR>
    <ons-row>
        <font size="4">小樽ビール</font>
    </ons-row>
    <ons-row>
        <ons-col>
            <img src="otaru_beer.png" width="60%" height="60%">
        </ons-col>
        <ons-col>
            <font size="1">小樽で作られている本場ドイツスタイルのビール。独特の甘さとローストされた香りがたまりません。</font><br>
            <div align="center">
                 <ons-button modifier="large" onclick="window.open('http://otarubeer.com/jp/ビールラインアップ（レギュラービール'),'_system'"><font size="2">公式サイト</font></ons-button>
            </div>
        </ons-col>
    </ons-row>
<HR>
</ons-scroller>
<ons-button ng-click="myNavigator.pushPage('success.html')">成功</ons-button>
<ons-button ng-click="myNavigator.pushPage('miss.html')">失敗</ons-button>
</div>
</ons-page>