/**/
.bomb {
    width: 80%;
    height: 80%;
}

.page--blue__content{
    background-color: blue;
}

.button--red{
    background-color: black;
}

#box1{
    background-color:#10cc94;
    position:absolute;
    top: 30px;
    left: 0px;
    width:0%;
    height:100px;
}

#box2{
    background-color:#ffffff;
    position:absolute;
    top: 130px;
    left: 0px;
    width:0%;
    height: 20px;
}

#box3{
    background-color:#bc1ade;
    position:absolute;
    top: 150px;
    left: 0px;
    width:0%;
    height: 80px;
}

#timer_display{
    position: absolute;
    bottom:40%;
    left:10%;
}

#sta1{
    position: absolute;
    bottom: 10%;
    left: 10%;
}

#sta2{
    position: absolute;
    bottom: 10%;
    right: 10%;
}

#bomb_timer_display{
    position: absolute;
    bottom: 5%;
    left: 30%;
}

#buy{
    position: absolute;
    bottom: 15%;
    left: 30%;
}

hutoji{
font-size:40px;
font-weight: bolder;
}
